.work-item-warpper {
	display: flex;
	box-sizing: border-box;
	padding: 0 20px;
}

.work-item-column {
	flex-direction: column;
}

.work-item-row {
	flex-direction: row;
}

.work-item-pic {
	width: 120px;
	height: 180px;
	margin: 0 10px 10px 0;
}

.work-item-pic-img {
	width: 100%;
	height: 100%;
}
.work-item-info {
	width: 170px;

}

.work-item-title {
	margin: 0;
}

.work-item-author {
	font-size: 12px;
	color: #777;
	margin-bottom: 10px;
}

.work-item-resume {
	width: 100%;
	height: 60px;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
}

.work-item-extra {
	height: 16px;
	line-height: 16px;
	margin-top: 10px;
	font-size: 12px;
}

.work-item-score {
	color: #fa595f;
	vertical-align: top;
	margin: 0 6px;
}

.separator {
	display: inline-block;
	width: 1px;
	height: 10px;
	margin: 4px 6px;
	background-color: #ddd;
	vertical-align: top;
}

.work-item-category {
	color: #777;
	vertical-align: top;
}